/**
 * @file
 * Subtheme specific CSS.
 */
 
body {
font-family: 'Open Sans', sans-serif;
}

a,a:link,a.link,a.visited {
text-decoration: none;
}

a:hover,a.hover {
text-decoration: underline;
}

.maintenance-page #header div.section, .maintenance-page #main {
width: 100% !important;
}

.breadbox {
background: #008067;
/* box-shadow: 0px 2px 10px 0px rgba(130, 130, 130, .1); */
}

#breadcrumb {
width: 100%;
padding-right: 10px;
padding-left: 10px;
margin-right: auto;
margin-left: auto;
}

ol.breadcrumb {
margin-bottom: 0;
}

ol.breadcrumb a {
color: #fff;
}

ol.breadcrumb li:first-child a::before {
display: none !important;
}

.breadcrumb-item + .breadcrumb-item {
padding-left: 5px;
}

.breadcrumb-item + .breadcrumb-item::before {
color: #fff;
content: var(--bs-breadcrumb-divider, ">");
padding-right: 5px;
padding-top: 8px;
font-size: .85em;
line-height: .85em;
}

button.webform-button--submit.form-submit::before {
display: none;
}

#main.container, #main.container-fluid, #main.container-lg, #main.container-md, #main.container-sm, #main.container-xl,
#header .container, #header .container-fluid, #header .container-lg, #header .container-md, #header .container-sm, #header .container-xl {
width: 100%;
padding-right: 0 !important;
padding-left: 0 !important;
margin-right: auto;
margin-left: auto;
}

.col {
/* padding: 0; */
}

.row {
margin: 0;
--bs-gutter-x: 1rem;
}

#main-wrapper #content.col {
padding-bottom: 1rem;
}

.navbar {
padding: 10px;
}

.node__content {
padding: 0 10px;
}

.node .field--type-image {
margin: 0;
}

article.profile {
margin-left: 10px;
margin-right: 10px;
}

.block-views {
margin: 0 0 10px 0;
}

.node--type-community-college #block-bnd9-page-title {
display: none;
}

h1 {
color: #284560;
margin: .5rem;
font-size: 1.6rem !important;
text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

h3 {
border-bottom: 1px dotted #ccc;
}

.field__label,
.field--type-entity-reference .field__label {
font-weight: bold;
}

.field--label-above,
.field--type-entity-reference {
margin: 0 0 1.2em;
}

img {
max-width: 100%;
height: auto;
}

nav.menu--main {
margin-left: 0 !important;
}

#block-mainnavigation .navbar-nav {
margin-top: 6px;
}

#block-mainnavigation li {
background: #fff;
padding: 0 10px;
margin: 2px 0;
border-radius: 3px;
}

#block-mainnavigation li a,
#block-mainnavigation li .nav-link {
color: #284560;
}

.navbar-light .navbar-toggler {
background: #fff;
}

table tr th {
color: #284560;
}

table tr th a,
table tr th a:hover,
table tr th a:focus {
color: #0071b3;
}

footer {
}

/* location and maps */

.field--name-field-address p,
.views-field-field-address p {
margin-bottom: 0;
}

.field--name-field-address .country,
.views-field-field-address .country {
display: none;
}

.field--name-field-address,
.field--name-field-links,
.field--name-field-website {
margin-bottom: 20px;
}

/* location and maps end */
/* remote locations */

.view-id-colleges.view-display-id-block_1 .views-row {
padding: 0;
border-bottom: 1px dotted #ccc;
}

.view-id-colleges.view-display-id-block_1 .views-row-last {
border: 0;
}

.views-field-title h5 {
margin-top: 10px;
}

.views-field-field-phone {
margin-bottom: 10px;
}

/* Block Styles */

.block-views {
margin-bottom: 20px;
}

.views-exposed-form.block-views {
padding-right: 0.6rem;
padding-left: 0.6rem;
margin-bottom: 0;
}

.node--type-company-org-profile .field--name-field-1280x720 img,
.block-block-contentcdda399f-39fa-40f6-ba92-0b82dddb07f9 .field--name-field-media-image img {
-webkit-box-shadow: 4px 6px 7px -5px rgba(0,0,0,0.25);
-moz-box-shadow: 4px 6px 7px -5px rgba(0,0,0,0.25);
box-shadow: 4px 6px 7px -5px rgba(0,0,0,0.25);
border: 1px solid rgba(0,0,0,0.1);
}

.block-entity-fieldnodefield-title,
.block .field__label {
font-size: 1.4em;
border-bottom: 1px dotted #ccc;
margin-bottom: 10px;
font-weight: normal;
}

.block-views-blockcompany-org-block-2 .views-row {
padding: 0;
}

/* remote locations end */

.ck-border-top {
border-top: 1px solid #ccc;
}

.ck-border-right {
border-right: 1px solid #ccc;
}

.ck-border-bottom {
border-bottom: 1px solid #ccc;
}

.ck-border-left {
border-left: 1px solid #ccc;
}

.ck-blue-back-header {
background: #284560;
color: #fff;
font-size: 1.2em;
padding: 5px 10px;
margin-top: 0;
border: none;
margin-bottom: 20px;
}

.ck-green-back-header {
background: #008067;
color: #fff;
font-size: 1.2em;
padding: 5px 10px;
margin-top: 0;
border: none;
margin-bottom: 20px;
}

.ck-green-back-header-no-bottom-margin {
background: #008067;
color: #fff;
font-size: 1.2em;
padding: 5px 10px;
margin-top: 0;
border: none;
margin-bottom: 0;
}

.ck-green-content-border {
padding: 10px;
margin-top: 0;
border: 1px solid #008067;
margin-bottom: 20px;
}

.ck-button-green a,
.ck-button-green a:link,
.ck-button-green a:visited {
background: #008067;
color: #fff;
text-transform: uppercase;
font-weight: bold;
padding: 5px 20px;
}

.ck-button-green span.ext {
display: none;
}

.ck-image-200 img {
max-width: 200px;
height: auto;
}

.ck-image-300 img {
max-width: 300px;
height: auto;
}

.ck-image-400 img {
max-width: 400px;
height: auto;
}

.ck-image-500 img {
max-width: 500px;
height: auto;
}

.ck-image-600 img {
max-width: 600px;
height: auto;
}

.ck-image-max-100 img {
max-width: 100%;
height: auto;
}

.ck-green-back-header-no-bottom-margin p,
.ck-blue-back-header p,
.ck-green-back-header p,
.ck-button-green p,
.ck-image-200 p,
.ck-image-300 p,
.ck-image-400 p,
.ck-image-500 p,
.ck-image-600 p,
.ck-image-max-100 p {
margin: 0;
}

table.ck-blank-table,
.ck-blank-table tbody,
.ck-blank-table tbody tr {
border: none;
}

.ck-blank-table td,
.ck-blank-table th {
padding: 0;
background: transparent;
}

.ck-blank-table tr,
.ck-blank-table tr.info,
.ck-blank-table tr.even,
.ck-blank-table tr:nth-child(2n+2) {
background: transparent;
}

table.ck-alternating-table,
.ck-alternating-table tbody,
.ck-alternating-table tbody tr {
border: none;
}

.ck-alternating-table td,
.ck-alternating-table th {
padding: 0;
background: transparent;
}

.ck-alternating-table tr {
background: transparent;
}

.ck-alternating-table tr.info,
.ck-alternating-table tr.odd,
.ck-alternating-table tr:nth-child(odd) {
background: rgba(0, 0, 0, 0.063);
}

@media all and (min-width:600px) {

body.maintenance-page {
background-color: #e0e0d8 !important;
}

.maintenance-page #page-wrapper {
border-radius: 5px;
box-shadow: 0px 2px 10px 0px rgb(130 130 130 / 40%);
}

.maintenance-page #page {
text-align: center;
}

}

@media all and (min-width:768px) {

.maintenance-page #main-wrapper #content {
box-shadow: none;
}

.maintenance-page h1 {
text-shadow: none;
margin: 20px 0 0 0;
}

.maintenance-page #site-name {
font-size: 1.6rem;
}

.node--type-community-college #block-bnd9-page-title {
display: block;
}

#block-mainnavigation li {
background: #fff;
margin-right: 10px;
padding: 0;
}

#block-mainnavigation li:nth-last-child(1) {
margin-right: 0;
}

#block-mainnavigation li a:hover,
#block-mainnavigation li a.hover {
background: #eee;
border-radius: 3px;
}

#breadcrumb {
padding-right: 0;
padding-left: 0;
}

#main-wrapper #content {
background: #fff;
box-shadow: 0px 2px 10px 0px rgba(130, 130, 130, .4);
}

nav #block-brown-main-menu li {
padding-left: 0;
}

/* Stem App */

.col-md-6 {
width: 100%;
}

.node-stem-outreach-application-form #edit-group-post-visit-data,
.node-stem-outreach-application-form #edit-group-general-administration,
.node-stem-outreach-application-form #edit-field-other-0-format {
display: none;
}

.node-stem-outreach-application-form .field--name-field-actual,
.node-stem-outreach-application-form .field--name-field-number-integer {
display: inline-block;
vertical-align: top;
width: 25%;
}

.node-stem-outreach-application-form .field--name-field-actual input,
.node-stem-outreach-application-form .field--name-field-number-integer input {
width: 70px;
}

.node-stem-outreach-application-form .field--name-title {
width: 50%;
}

.node-stem-outreach-application-form .field--name-field-event-type,
.node-stem-outreach-application-form .field--name-field-digital-asset {
display: inline-block;
vertical-align: top;
width: 49.7%;
}

.node-stem-outreach-application-form .field--name-field-first-name,
.node-stem-outreach-application-form .field--name-field-last-name,
.node-stem-outreach-application-form .field--name-field-title,
.node-stem-outreach-application-form .field--name-field-institution-type,
.node-stem-outreach-application-form .field--name-field-text-plain-other,
.node-stem-outreach-application-form .field--name-field-select-content,
.node-stem-outreach-application-form .field--name-field-address .form-type-textfield,
.node-stem-outreach-application-form .field--name-field-address .form-type-select {
display: inline-block;
vertical-align: top;
width: 33%;
}

.node-stem-outreach-application-form .field--name-field-address fieldset.form-item-field-address-0-address-address-line1,
.node-stem-outreach-application-form .field--name-field-phone,
.node-stem-outreach-application-form .field--name-field-email {
display: inline-block;
vertical-align: top;
width: 25%;
}

.node-stem-outreach-application-form .field--name-field-address div.address-container-inline {
display: inline-block;
vertical-align: top;
width: 74.5%;
}

.node-stem-outreach-application-form .field--name-field-age-group #edit-field-age-group .radio {
display: inline-block;
vertical-align: top;
margin-right: 10px;
}

}